#blog {
    h2 {
        font-size: 20px;
        color: $texto-morado;
        padding: 25px;
        text-align: center;
    }
    p {
        text-align: justify;
        width: 80%;
        height: auto;
        margin: auto;
    }
    ul {
        text-align: justify;
        width: 80%;
        height: auto;
        margin: auto;
    }
}
