#serviciosDestacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: left;
    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: left;
        width: 350px;
        height: 600px;
        padding: 18px;
        margin: 15;
        font-size: 14px;
        color: $texto-morado;
        border-radius: 30px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53);
        -webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
        -moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 2;
    .order3 {
        order: 3;
    }
    }
}
#tituloServicios {
    h4 {
        font-size: 30px;
        color: $texto-morado;
        text-align: center;
    }
    h5 {
        color: $texto-rosado;
        text-align: center;
    }
}

@media (max-width: 576px)
{ 
    #serviciosDestacados {
        flex-wrap: wrap;
    }
   
}