#testimonios {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    margin: 50px;
}
.test {
    width: 330px;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
    h4 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: magenta;
    }
    p {
        font-size: 14px;
        padding: 0px 50px;
        margin: 0px;
        text-align: left;
    }
}
.testimonio1 {
    margin: 50px 200px;
    border-radius: 90px 35px 90px 35px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    background-color: lightsteelblue;
    color: white;
}
.testimonio2 {
    margin: 50px 650px;
    border-radius: 90px 35px 90px 35px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    background-color: lightseagreen;
    color: white;
}
.testimonio3 {
    margin: 50px 200px;
    border-radius: 90px 35px 90px 35px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    background-color: yellowgreen;
    color: white;
}
.testimonio4 {
    margin: 50px 650px;
    border-radius: 90px 35px 90px 35px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    -moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.53);
    background-color: lightpink;
    color: white;
}

@media (max-width: 576px)
{ 
.test {
    width: auto;
    height: auto;
    margin: 15px auto;
    padding: 10px;
    p {
    padding: 0;
    text-align: left;
    padding: 10;
    }
}
#testimonios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 15px;
}
.testimonio1 .testimonio2 .testimonio3 .testimonio4 {
    margin: auto;
}
}