header {
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
    grid-area: header;
    background-color: $fondo-celeste;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    img {
      width: 75px;
      height: 75px;
    }
    nav{
        grid-area: nav;
    }
}

@media (max-width: 576px)
{
    header {
        height: 23vh;
        width: 100%;
    }
    header img {
        width: 11vh;
        height: 10vh;
    }
    .navbar{
        --bs-navbar-brand-padding-y: 8vh;
        }
}